
extends layout

block header
  link(rel='stylesheet', href='/stylesheets/dashboard.css')
  script.
    exportedFunctions.setupDashboard();

    function menu(id) {
      document.getElementById("myDIV").innerHTML = id;
      exportedFunctions.setMenuId(id);
    }

block content
    h1 Triage Center
    h2 Dashboard
    | To add a new patient to the ER queue, please visit the 
    a(href="./triage") Triage 
    | page.

    body
    p#myDIV
      | Go to the Triage to add patients to the queue to display on the dashboard.
    #myPatients
      .scroll

    br
    br
    .center
      // input(type='text', name='id')
      p
