doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    //- script(src='https://connect.humanapi.co/connect.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/script_bundle.js')
  body
    block content
