doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    //- script(src='https://connect.humanapi.co/connect.js')
    script(src='/javascripts/script_bundle.js')
    script(src='/socket.io/socket.io.js')
    block header
  block navbar
  body
    block content
