extends layout

block header
  link(rel='stylesheet', href='/stylesheets/triage.css')
  script.
    exportedFunctions.setup(#{id})

block content
  h1= title
  h2 Get your wait time here
  p Below is your approximate queue position. Your time is most important to us. 
  | Keep scrolling to find out more about approximate wait times for your condition. 

  h1.mb-4(id="infobox") TBD