extends layout

block header
  link(rel='stylesheet', href='/stylesheets/triage.css')

block content
  h1= title
  small: i Methods influenced by #[a( href='https://www.ahrq.gov/sites/default/files/wysiwyg/professionals/systems/hospital/esi/esihandbk.pdf' ) Emergency Severity Index documentation] from the Agency for Healthcare Research and Quality. 
  p This is where you will make your triage decision. You will be assigning Emergency Severity Indices (ESI) to incoming ER patients by answering questions about their conditions. 

  .questionholder
    .questioninfo
      h3 Decision Point A: Is the Patient Dying?
      ul 
        li Does this patient have a patent airway?
        li Is the patient breathing?
        li Does the patient have a pulse?
        li Is the nurse concerned about the pulse rate, rhythm, and quality?
        li Was this patient intubated pre-hospital because of concerns about the patient's ability to maintain a patent airway, spontaneously breathe, or maintain oxygen saturation?
        li Is the nurse concerned about this patient's ability to deliver adequate oxygen to the tissues?
        li Does the patient require an immediate medication, or other hemodynamic intervention such as volume replacement or blood?
        li Does the patient meet any of the following criteria: already intubated, apneic, pulseless, severe respiratory distress, SpO2 < 90 percent, acute mental status changes, or unresponsive?
      
    .selector
      .option.yes
        span Yes
      .option.no
        span No

  .questionholder
    .questioninfo
      h3 Decision Point B: Should the Patient Wait? 
      ul 
        li Is this a high-risk situation? 
        li Is the patient confused, lethargic or disoriented? 
        li Is the patient in severe pain or distress?


  .questionholder
    .questioninfo 
      h3 Decision Point C: Resource Needs
      ul 
        li How many different resources do you think this patient is going to consume in order for the physician to reach a disposition decision? (none, one, many)
  
  .questionholder
    .questioninfo 
      h3 Decision Point D: The Patient's Vital Signs
  
  .questionholder
    .questioninfo 
      h3 Decision Point E: Does Time to Treatment Influence ESI Triage Categories?
  