.scroll {
  color: white;
  background-color: black;
  padding: 15px;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  a {
    &:hover {
      background-color: #777;
    }

    padding: 8px;
    color: white;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  height: 250px;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}